<%= form_for(@ambiente, :html => {:class => "form-signin"}) do |f| %>
  <% if @ambiente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ambiente.errors.count, "error") %> prohibited this ambiente from being saved:</h2>

      <ul>
      <% @ambiente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Nome do ambiente", :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Criar ambiente", :class => "btn btn-lg btn-cor-enviar pull-right", :style => "width:100%;" %>
  </div>
<% end %>
