<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>IoThinking</title>
    
        <!-- Custom CSS -->
        <link href="css/scrolling-nav.css" rel="stylesheet">
            
        <%= stylesheet_link_tag "welcome.scss" %>
        <%= stylesheet_link_tag "bootstrap.min.css" %>
        <%= stylesheet_link_tag "scrolling-nav.css" %>
        <%= stylesheet_link_tag "full-slider.css" %>
        
        <title>Bem vindo!</title>
        
        <%= javascript_include_tag "jquery.js" %>
        <%= javascript_include_tag "bootstrap.min.js" %>
        <%= javascript_include_tag "jquery.easing.min.js" %>
        <%= javascript_include_tag "scrolling-nav.js" %>
        
    
    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="#page-top">Ambientes</a>
                    </div>
        
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <!-- Hidden li included to remove active class from dicas link when scrolled up past dicas section -->
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#dicas">Dicas</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#historico">Histórico</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#comprar">Comprar</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#contact">Contato</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <p><%= current_user.email %></p>
                    <p><%= link_to "Sair", destroy_user_session_path, method: :delete %></p>
                </div>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <ul>
                        <li><%= link_to 'Cadastrar ambiente', '/ambientes/new' %></li>
                        <li><%= link_to 'Meus ambientes', '/ambientes' %></li>
                    </ul>   
                </div>
            </div>
        </div>
    </section>

    <!-- dicas Section -->
    <section id="dicas" class="dicas-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Full Page Image Background Carousel Header -->
                    <header id="myCarousel" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                
                        <!-- Wrapper for Slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <!-- Set the first background image using inline CSS below. -->
                                <h1>teste1</h1>
                                <div class="carousel-caption">
                                    <h2>Caption 1</h2>
                                    <div class="col-md-6">
                                      <img src="/assets/images/geladeira.jpg" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <!-- Set the second background image using inline CSS below. -->
                                <h1>teste2</h1>
                                
                            </div>
                            <div class="item">
                                <!-- Set the third background image using inline CSS below. -->
                                
                                <h2>Caption 3</h2>
                            </div>
                        </div>
                
                        <!-- Controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                
                    </header>
                    
                    
                </div>
            </div>
        </div>
    </section>

    <!-- historico Section -->
    <section id="historico" class="historico-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>TEMPLATE MASSA!!!</h1>
                    <p>ESSA É A TELA DE HISTÓRICO - FEATURE</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="comprar" class="comprar-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>TEMPLATE MASSA!!!</h1>
                    <p>ESSA É A TELA DE COMPRAR</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>TEMPLATE MASSA!!!</h1>
                    <p>ESSA É A TELA DE CONTATO</p>
                </div>
            </div>
        </div>
    </section>
    </body>
    
    
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    
</html>
    


